PORT=3002
NODE_ENV=production # development | test | production

# App configs
APP_DEBUG=true

# Database configs
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# Github configs
GITHUB_ORGANIZATION_NAME=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=

# JWT configs
JWT_SECRET=

# Session configs
SESSION_SECRET=
