PORT=3002 # must be the same of GitHub OAuth App
NODE_ENV=production # development | test | production

# App configs
APP_DEBUG=true

# Database configs
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# Github configs
GITHUB_ORGANIZATION_NAME=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_PERSONAL_ACCESS_TOKEN=

# JWT configs
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

# Session configs
SESSION_SECRET=

# OAUTH redirect url
OAUTH_SUCCESS_REDIRECT_URL=http://localhost:3000/login
OAUTH_FAILURE_SEARCH_PARAM=message

# Job Scheduler API URL
JOB_SCHEDULER_API_URL=http://localhost:3002

# Sonarqube docker service envs
SONARQUBE_HOST=localhost
SONARQUBE_PORT=9000
SONARQUBE_ADMIN_USERNAME=
SONARQUBE_ADMIN_PASSWORD=
SONARQUBE_POSTGRES_USERNAME=
SONARQUBE_POSTGRES_PASSWORD=
